@model IEnumerable<BeerShop.Models.Beer>

@{
    ViewBag.Title = "Index";
}


<br />
<h1>Our Beers</h1>

@*<p>
        @Html.ActionLink("Create New", "Create")
    </p>*@
<div class="clearfix"></div>
@foreach (var item in Model) {
    <div class="grid3column-progression">
        <article>
            <div class="menu-index-pro">
                <div class="menu-image-pro">
                    <a href="Beers/details/@item.ID " data-rel="prettyPhoto[gallery]">
                        <img alt="gold-ale" class="attachment-progression-beers wp-post-image" height="550" src="~/Content/images/demo/gold-ale.jpg" width="370">
                    </a>
                </div>
                <div class="menu-content-pro">
                    <h3>
                        @Html.ActionLink(item.Name, "Details", new { id = item.ID })
                    </h3>
                    <div class="pro_sub_header">
                        @item.Country.Name
                    </div>
                    <div class="menu_content_pro">
                        <p>Types here</p>
                        <p>$ @Html.DisplayFor(modelItem => item.Price)</p>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
        </article>
    </div>
}
